<section id="sidebar">
    <div id="sidebar-header">
        <h3>Documentation</h3>
        </div>
    <nav id="wiki-nav">
        <h5>Overview</h5>
        <ul>
            <li><a href="/docs/Home.html">Home</a></li> 
            <li><a href="/docs/Accelerators-and-Streams.html">Accelerators & Streams</a></li> 
            <li><a href="/docs/Memory-Buffers-and-Views.html">Memory Buffers & Views</a></li> 
            <li><a href="/docs/Kernels.html">Kernels</a></li> 
            <li><a href="/docs/Shared-Memory.html">Shared Memory</a></li> 
            <li><a href="/docs/Math-Functions.html">Math Functions</a></li> 
        </ul>
        <h5>Advanced</h5>
        <ul>
            <li><a href="/docs/Dynamically-Specialized-Kernels.html">Dynamically Specialized Kernels</a></li> 
            <li><a href="/docs/Debugging-and-Profiling.html">Debugging & Profiling</a</li> 
            <li><a href="/docs/Inside-ILGPU.html">Inside ILGPU</a></li> 
        </ul>
        
        <h5>Upgrade Guides</h5>
        <ul>
            <li><a href="/docs/Upgrade-v0.8.X-to-v0.9.X.html">v0.8.X to v0.9.X</a></li> 
            <li><a href="/docs/Upgrade-v0.8.0-to-v0.8.1.html">v0.8.0 to v0.8.1</a></li> 
            <li><a href="/docs/Upgrade-v0.7.X-to-v0.8.X.html">v0.7.X to v0.8.X</a></li> 
            <li><a href="/docs/Upgrade-v0.6.X-to-v0.7.X.html">v0.6.X to v0.7.X</a></li> 
            <li><a href="/docs/Upgrade-v0.3.X-to-v0.5.X.html">v0.3.X to v0.5.X</a></li> 
            <li><a href="/docs/Upgrade-v0.1.X-to-v0.2.X.html">v0.1.X to v0.2.X</a></li> 
          </ul>
    </nav>

</section>