
/* HEADER */

#header {
    padding-top: 0px !important;
    padding-bottom: 0 !important;
    background-color: #fff !important;
}

.navbar li a {
    color: #00458D !important;
}

.navbar li a:hover {
    color: #00AAE1 !important;
}


.navbar li a.getstarted:hover {
    color: #fff !important;
}

/* LOGO */

.logo img {
    max-height: unset !important;
    width: 200px !important;
}

/* HOME PAGE */

/* HERO SECTION */

#hero {
    background: #00458D !important;
}

#easter-egg:hover {
    cursor: pointer !important;
    cursor: hand !important;
}

.btn-hero-1 {
    margin-right: 30px !important;
}

/* HIGHLIGHTS SECTION */

#services .row {
    margin-bottom: 30px !important;
}

/* CHARTS SECTION */

#chart-option .col-md-12 {
    border: 1px solid gray;
}

.features-col {
    float: left !important;
    width: 40% !important;
}

.features-col .header {
    font-size: 28px !important;
    margin-bottom: 12px !important;
}

.features-col .spec {
    border-right: 1px solid #00458D !important;
    border-bottom:1px solid #00458D !important;
}

.plan-col {
    float: left !important;
    text-align: center !important;
}

.plan-col .header {
    font-size: 28px !important;
    margin-bottom: 12px !important;
}

.plan-col .spec {
    min-height: 28.8px !important;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.plan-col .standard svg {
    fill: #37517e !important;
}

.spec h4 {
    color: #37517e !important;
    margin-bottom: 0px !important;
}

.why-us .content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.why-us .accordion-list {
    padding-left: 0 !important;
}

.why-us .img {
    background-size: 70% 70%;
}

.cta {
    background: linear-gradient(rgba(0, 69, 141, 0.9), rgba(0, 69, 141, 0.9)), url("../img/cta-bg.jpg") fixed center center;
}

.pricing h5 {
    font-size: 30px;
    color: #37517e;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    margin-bottom: 25px;
}