.section-md {
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 2;
}

.github-logo-header {
    margin-left: 1rem !important;
}

.btn-twitter i {
    top: -12px !important;
    left: -12px !important;
    font-size: 24px !important;
}

.btn-github i {
    top: -16px !important;
    left: -16px !important;
    font-size: 32px !important;
}

/* NAVBAR OVERRIDES */

.navbar-transparent {
    background-color: #172b4d !important;
}

/* PAGE HEADER OVERROIDES */

.card-background::after {
    background: transparent !important;
}

.page-header.header-filter::before {
    background: transparent !important;
}

.page-header.header-filter::after {
    background: transparent !important;
}

.display-2 {
    display: none !important;
}

/* TYPOGRAPHY OVERRIDES */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .8rem !important;
}

ul li {
    line-height: 32px !important;
}