.section-md {
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 2;
}

.github-logo-header {
    margin-left: 1rem !important;
}

.btn-twitter i {
    top: -12px !important;
    left: -12px !important;
    font-size: 24px !important;
}

.btn-github {
    color: #222 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.btn-github:hover {
    color: #222 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.btn-github i {
    top: -22px !important;
    left: -22px !important;
    font-size: 44px !important;
}

/* NAVBAR OVERRIDES */

.navbar-transparent {
    background-color: #172b4d !important;
}

/* PAGE HEADER OVERROIDES */

.page-header.page-header-small {
    min-height: 36vh !important;
    margin-bottom: 0px !important;
}

.page-header-image.card-background {
    background-size: contain !important;
}

.card-background::after {
    background: transparent !important;
}

.page-header.header-filter::before {
    background: transparent !important;
}

.page-header.header-filter::after {
    background: transparent !important;
}

.display-2 {
    display: none !important;
}

/* TYPOGRAPHY OVERRIDES */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .8rem !important;
}

ul li {
    line-height: 32px !important;
}