<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="header-image text-center">
            <div class="container">
              <a href="https://armadaproject.io/"><img class="octo" src="images/Armada_Logo-White.svg" alt="Armada"></a>
              <p class="lead">Armada is an application to achieve high throughput of run-to-completion jobs on multiple Kubernetes clusters. It stores queues for users/projects with pod specifications and creates these pods once there is available resource in one of the connected Kubernetes clusters.</p>
            </div>
          </div>
      <div class="wrapper home-container">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>